.header {
    background-color: rgb(41, 41, 224);
    text-align: center;
}

.main {
    background-color: lightgray;
    padding: 1em;
}

.body {
    background-image: url("record.png");
    background-repeat: repeat;
    background-color: white;
    margin: 0;
}